<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Categoria Evaluaciones">

            <!-- Se muestra mensaje de bienvenida y ayuda en plex-help sólo cuando SI hay gráficos/datos -->
            <plex-help icon="help" type="help" titulo="Ayuda para el usu" subtitulo="Evaluaciones de Personal">
                <ayuda></ayuda>
            </plex-help>
        </plex-title>
        Items
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
    </plex-layout-main>

</plex-layout>