<plex-layout>
    <plex-layout-main>

        <!-- Tarjeta con sólo los botones -->
        <div class="col-12 contenedor-menu">
            <div class="card mx-auto w-100">
                <div class="card-body">

                    <!-- Título 
                    <div class="titulo-container mb-3 text-center">
                        <h2 class="titulo-texto">Parámetros / MENU COMUNES</h2>
                    </div> -->

                    <!-- Única sección: botones -->
                    <div class="contenedor-cuadro d-flex flex-row flex-wrap gap-3 menu-fondo justify-content-center">
                        <button plexButton class="btn btn-outline-info text-start flex-fill"
                                (click)="onPlanillaEDClick()">
                            <span class="material-icons me-2 align-middle">list_alt</span>
                            Categorias
                        </button>
                        <button plexButton class="btn btn-outline-info text-start flex-fill"
                                (click)="onPlanillaEDClick()">
                            <span class="material-icons me-2 align-middle">list_alt</span>
                            Items
                        </button>
                        <button plexButton class="btn btn-outline-info text-start flex-fill"
                                (click)="onServiciosClick()">
                            <span class="material-icons me-2 align-middle">description</span>
                            Agentes
                        </button>
                        <button plexButton class="btn btn-outline-info text-start flex-fill"
                                (click)="onUsuariosClick()">
                            <span class="material-icons me-2 align-middle">people</span>
                            Usuarios
                        </button>
                        <button plexButton class="btn btn-outline-info text-start flex-fill"
                                (click)="onTipoEvaluacion()">
                            <span class="material-icons me-2 align-middle">fact_check</span>
                            Tipo de Evaluación
                        </button>
                        <button plexButton class="btn btn-outline-info text-start flex-fill" (click)="onAgentesClick()">
                            <span class="material-icons me-2 align-middle">arrow_back</span>
                            Volver
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </plex-layout-main>
</plex-layout>