<div class="col-lg-12 col-md-12 col-12 contenedor-menu">
    <div class="card">
        <div class="card-body">
            <div class="titulo-container mb-3 text-center">
                <div class="titulo-texto">
                    <plex-title titulo="Parametros/MENU COMUNES"></plex-title>
                </div>
            </div>




            <div class="contenedor-cuadro d-flex justify-content-center flex-wrap gap-3 menu-fondo">
                <button plexButton class="btn celeste-btn border rounded" (click)="onPlanillaEDClick()">
                    <span class="material-icons">list_alt</span> Parametros/Items
                </button>

                <button plexButton class="btn celeste-btn border rounded" (click)="onServiciosClick()">
                    <span class="material-icons">description</span> Parametros/Agentes
                </button>

                <button plexButton class="btn celeste-btn border rounded" (click)="onServiciosClick()">
                    <span class="material-icons">description</span> Parametros/Usuarios
                </button>

                <button plexButton class="btn celeste-btn border rounded" (click)="onAgentesClick()">
                    <span class="material-icons">arrow_back</span> Volver
                </button>
            </div>

        </div>
    </div>
</div>