.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ensures button is aligned to the right */
}

.titulo {
    font-size: 2rem;
    /* Adjust size as needed */
    font-weight: bold;
    /* Makes text bold */
    color: #343a40;
    /* Dark color for the text (adjust as needed) */
    text-align: center;
    flex-grow: 1;
}